#include "res.h"
#define IDD_VXDRUN                      101
#define IDC_LOAD                        1000
IDD_VXDRUN DIALOG DISCARDABLE  0, 0, 79, 28
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER
CAPTION "VxD Execute"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Run Calculator",IDC_LOAD,7,7,65,14
END